openapi: 3.0.1

info:
  title: NIL WS API
  description: |
    Este documento describe la _API_ del grupo NIL preparada por el proyecto
    IDiLyCo, según el estándar OpenAPI 3.0.1

    También existe un endpoint GraphQL en la url https://holstein.fdi.ucm.es/nil-ws-api/graphql
  version: 0.1.1

tags:
  - name: Palabra
    description: |
      ## Servicios de palabras

      Estos servicios devuelven información relativa a una palabra.
  - name: Texto
    description: |
      ## Servicios de textos

      Estos servicios devuelven información relativa a un texto o serie de palabras.
  - name: PT1
    description: |
      ## Simplificación de texto
  - name: PT2
    description: |
      ## Resúmenes
  - name: PT3
    description: |
      ## CAA

      Existe un editor para trabajar con pictos, *PICTAR*, que está ya en marcha: http://hypatia.fdi.ucm.es/pictar/
  - name: PT4
    description: |
      ## Emociones

      Ya está en marcha la API de servicios para obtener las emociones de una
      palabra, una frase o un texto http://sesat.fdi.ucm.es/api/ o
      http://sesat.fdi.ucm.es/apiEmoTraductor/ - También hemos implementado
      EmoTraductor, un intérprete de las emociones transmitidas por un texto.
      http://sesat.fdi.ucm.es/traductor/

servers:
  - url: https://holstein.fdi.ucm.es/nil-ws-api/v1

paths:
  # PALABRA
  /palabra/{palabra}/es_sencilla:
    $ref: 'simplificacion.yaml#/Sencilla'
  /palabra/{palabra}/sinonimos:
    $ref: 'simplificacion.yaml#/Sinonimos'
  /palabra/{palabra}/antonimos:
    $ref: 'simplificacion.yaml#/Antonimos'
  /palabra/{palabra}/definiciones:
    $ref: 'simplificacion.yaml#/Definiciones'
  /palabra/{palabra}/traducciones:
    $ref: 'simplificacion.yaml#/Traducciones'
  /palabra/{palabra}/conversion_a_facil:
    $ref: 'simplificacion.yaml#/Conversion'
  /palabra/{palabra}/pictograma:
    $ref: 'caa.yaml#/PictoPalabra'
  /palabra/{palabra}/emocion_mayoritaria:
    $ref: 'emociones.yaml#/MayoritariaPalabra'
  /palabra/{palabra}/emocion_consensuada:
    $ref: 'emociones.yaml#/ConsensuadaPalabra'
  /palabra/{palabra}/grados_emociones:
    $ref: 'emociones.yaml#/GradosPalabra'

  # TEXTOS
  /texto/pictogramas:
    $ref: 'caa.yaml#/PictoFrase'
  /texto/emocion_mayoritaria:
    $ref: 'emociones.yaml#/MayoritariaTexto'
  /texto/grados_emociones:
    $ref: 'emociones.yaml#/GradosTexto'
  /texto/palabras_emocionales:
    $ref: 'emociones.yaml#/PalabrasEmocionales'
  /texto/resumen:
    $ref: 'grafeno.yaml#/Resumenes'

