openapi: 3.0.1

info:
  title: Idilyco API
  description: |
    Este documento describe la _API_ del proyecto Idilyco, según el estándar OpenAPI 3.0.1
  version: 0.1.1

tags:
  - name: Palabra
    description: |
      ## Servicios de palabras

      Estos servicios devuelven información relativa a una palabra.
  - name: Texto
    description: |
      ## Servicios de textos

      Estos servicios devuelven información relativa a un texto o serie de palabras.
  - name: PT1
    description: |
      ## Simplificación de texto

      Responsable: Susana
  - name: PT2
    description: |
      ## Resúmenes

      Responsable: Alberto
  - name: PT3
    description: |
      ## CAA
      
      Responsable: Raquel

      Existe un editor para trabajar con pictos, *PICTAR*, que está ya en marcha: http://hypatia.fdi.ucm.es/pictar/
  - name: PT4
    description: |
      ## Emociones
      
      Responsable: Virginia

      **Importante**: Los servicios POST no funcionan como API porque requieren de cookie CSRF, es decir sólo se pueden usar desde su página.

      - Ya está en marcha la API de servicios para obtener las emociones de una
        palabra, una frase o un texto http://sesat.fdi.ucm.es/api/ o
        http://sesat.fdi.ucm.es/apiEmoTraductor/ - También hemos implementado
        EmoTraductor, un intérprete de las emociones transmitidas por un texto.
        http://sesat.fdi.ucm.es/traductor/
  - name: grafeno
    description: Herramienta de grafos semánticos.
    externalDocs:
      description: Más información sobre la librería de generación de resúmenes.
      url: https://grafeno.readthedocs.io/en/latest/
  - name: EmoTraductor
    description: |
      Aplicación web intérprete de las emociones transmitidas por un texto,
      disponible en: http://sesat.fdi.ucm.es/traductor/.
    externalDocs:
      description: Documentación original de la API.
      url: http://sesat.fdi.ucm.es/apiEmoTraductor/

servers:
  - url: https://mistela.fdi.ucm.es/idilyco-api/v1

paths:
  # PALABRA
  /palabra/{palabra}/es_sencilla:
    $ref: 'simplificacion.yaml#/Sencilla'
  /palabra/{palabra}/sinonimos:
    $ref: 'simplificacion.yaml#/Sinonimos'
  /palabra/{palabra}/antonimos:
    $ref: 'simplificacion.yaml#/Antonimos'
  /palabra/{palabra}/definiciones:
    $ref: 'simplificacion.yaml#/Definiciones'
  /palabra/{palabra}/traducciones:
    $ref: 'simplificacion.yaml#/Traducciones'
  /palabra/{palabra}/conversion_a_facil:
    $ref: 'simplificacion.yaml#/Conversion'
  /palabra/{palabra}/pictograma:
    $ref: 'caa.yaml#/PictoPalabra'
  /palabra/{palabra}/emocion_mayoritaria:
    $ref: 'emociones.yaml#/MayoritariaPalabra'
  /palabra/{palabra}/emocion_consensuada:
    $ref: 'emociones.yaml#/ConsensuadaPalabra'
  /palabra/{palabra}/grados_emociones:
    $ref: 'emociones.yaml#/GradosPalabra'

  # TEXTOS
  /texto/pictogramas:
    $ref: 'caa.yaml#/PictoFrase'
  /texto/emocion_mayoritaria:
    $ref: 'emociones.yaml#/MayoritariaTexto'
  /texto/grados_emociones:
    $ref: 'emociones.yaml#/GradosTexto'
  /texto/palabras_emocionales:
    $ref: 'emociones.yaml#/PalabrasEmocionales'
  /texto/resumen:
    $ref: 'grafeno.yaml#/Resumenes'

