openapi: 3.0.1

info:
  title: Idilyco API
  description: |
    Este documento describe la _API_ del proyecto Idilyco, según el estándar OpenAPI 3.0.1
  version: 0.1.0

tags:
  - name: PT1
    description: |
      ## Simplificación de texto

      Responsable: Susana
  - name: PT2
    description: |
      ## Resúmenes

      Responsable: Alberto
  - name: PT3
    description: |
      ## CAA
      
      Responsable: Raquel

      Existe un editor para trabajar con pictos, *PICTAR*, que está ya en marcha: http://hypatia.fdi.ucm.es/pictar/
  - name: PT4
    description: |
      ## Emociones
      
      Responsable: Virginia

      - Ya está en marcha la API de servicios para obtener las emociones de una
        palabra, una frase o un texto http://sesat.fdi.ucm.es/api/ o
        http://sesat.fdi.ucm.es/apiEmoTraductor/ - También hemos implementado
        EmoTraductor, un intérprete de las emociones transmitidas por un texto.
        http://sesat.fdi.ucm.es/traductor/
  - name: grafeno
    description: Herramienta de grafos semánticos.
    externalDocs:
      description: Más información sobre la librería de generación de resúmenes.
      url: https://grafeno.readthedocs.io/en/latest/
  - name: EmoTraductor
    description: |
      Aplicación web intérprete de las emociones transmitidas por un texto,
      disponible en: http://sesat.fdi.ucm.es/traductor/.
    externalDocs:
      description: Documentación original de la API.
      url: http://sesat.fdi.ucm.es/apiEmoTraductor/

servers:
  - url: http://mistela.fdi.ucm.es/idilyco-api/v1

paths:
  /sencilla/{palabra}:
    $ref: 'simplificacion.yaml#/Sencilla'
  /sinonimos/{palabra}:
    $ref: 'simplificacion.yaml#/Sinonimos'
  /antonimos/{palabra}:
    $ref: 'simplificacion.yaml#/Antonimos'
  /definiciones/{palabra}:
    $ref: 'simplificacion.yaml#/Definiciones'
  /traducciones/{palabra}:
    $ref: 'simplificacion.yaml#/Traducciones'
  /conversion/{palabra}:
    $ref: 'simplificacion.yaml#/Conversion'
  /resumen/{idioma}:
    $ref: 'grafeno.yaml#/Resumenes'
  /picto/{palabra}:
    $ref: 'caa.yaml#/PictoPalabra'
  /pictos/{frase}:
    $ref: 'caa.yaml#/PictoFrase'
  /emocion/mayoritaria/{palabra}:
    $ref: 'emociones.yaml#/MayoritariaPalabra'
  /emocion/consensuada/{palabra}:
    $ref: 'emociones.yaml#/ConsensuadaPalabra'
  /emocion/grados/{palabra}:
    $ref: 'emociones.yaml#/GradosPalabra'
  /emocion/mayoritaria/frase:
    $ref: 'emociones.yaml#/MayoritariaFrase'
  /emocion/grados/frase:
    $ref: 'emociones.yaml#/GradosFrase'

